footer {
  background: var(--primary);
  margin-top: 5rem;
  > :first-child {
    width: 262px;
    ul {
      list-style: none;
      > li {
        font-size: 1.2rem;
        margin-bottom: 8px;
      }
      a {
        text-decoration: none;
      }
    }
  }
  > :last-child {
    width: 368px;
  }
}

#footer-icon {
  width: 360px;
}

#footer-site-title {
  display: none;
  font-family: "ppframa";
  font-size: 4.5rem;
  margin: 1.5rem 0;
}

#footer-since {
  font-family: "ppframa";
  font-size: 1.2rem;
  color: var(--bg);
}

#footer-developer {
  font-family: "ppframa";
  color: var(--bg);
  a {
    color: var(--accent);
    font-size: 1rem;
  }
}
