footer {
  background: #aaffcc;
  margin-top: 5rem;
  color: var(--bg);
  > :first-child {
    width: 262px;
    ul {
      padding-left: 0;
      list-style: none;
      > li {
        margin-bottom: 8px;
      }
      a {
        color: var(--bg);
        font-weight: initial;
        text-decoration: none;
        font-size: initial;
        > b {
          font-size: 1.2rem;
        }
      }
    }
    p {
      margin-top: 4rem;
    }
  }
  > :last-child {
    width: 368px;
  }
}

#footer-icon {
  width: 360px;
}

#footer-site-title {
  display: none;
  font-family: "ppframa";
  font-size: 4.5rem;
  margin: 1.5rem 0;
}

#footer-since {
  font-family: "ppframa";
  font-size: 1.2rem;
  color: var(--bg);
}

#footer-developer {
  color: var(--bg);
  a {
    color: var(--bg);
    font-size: 1rem;
  }
}
