#navbar {
  padding: 2rem;
}
#navbar-responsive {
  display: flex;
  gap: 32px;
  > img {
    width: calc(6rem + 6vw);
  }
}
#navbar-brand {
  font-size: 2rem;
  color: var(--primary);
  font-family: "ppframa";
  > :first-child {
    font-size: calc(1.5rem + 4vw);
    letter-spacing: 4px;
    line-height: calc(1rem + 4vw);
  }
  > :last-child {
    font-size: calc(0.8rem + 1vw);
  }
}
#navbar-menu-open {
  background: url("/menu-open.svg");
}
#navbar-menu-close {
  background: url("/menu-close.svg");
}
#navbar-menu-open,
#navbar-menu-close {
  background-size: contain;
}
