@use "../node_modules/nebula-atoms/styles/core" with (
  $container-width: 820px
);

@use "./components/navbar";
@use "./components/footer";

:root {
  --bg: #324628;
  --primary: #fff;
  --accent: #d35f5fff;
  --dark: #3a3a3a;
}

@font-face {
  font-family: "ppframa";
  src: url("/fonts/PPFrama-Regular.otf");
}

@font-face {
  font-family: "open";
  src: url("/fonts/OpenSans-Regular.ttf");
}

body {
  font-family: "open";
  background-color: var(--bg);
  color: var(--primary);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "ppframa";
}

h1 {
  font-size: calc(1.375rem + 1.5vw);
}
h2 {
  font-size: calc(1.325rem + 0.9vw);
}
h3 {
  font-size: calc(1.225rem + 0.6vw);
}

p > a,
#navbar-menu a,
footer a {
  color: var(--primary);
  font-family: "ppframa";
  font-weight: bold;
  font-size: 1.2rem;
  letter-spacing: 0.5px;
}

p > img {
  display: block;
  margin: 3rem auto 0;
}

h2 {
  margin-top: 4rem;
}
h3 {
  margin-top: 3rem;
}

blockquote {
  margin-top: 4rem;
  background-color: var(--primary);
  color: var(--bg);
  border-radius: 8px;
  margin: 0;
  padding: 1rem 2rem;
}

@mixin button {
  background-color: var(--primary);
  color: var(--dark);
  padding: 8px 16px;
  text-decoration: none;
  border-radius: 24px;
}

.btn,
.btn-list a {
  @include button;
}

ul > li {
  margin-bottom: 4px;
}

p.btn {
  display: inline-block;
  margin-top: 1rem;
  margin-right: 1rem;
}
